:root {
  font-family: "Playfair Display";
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  color-scheme: light dark;
  color: #ffe3d1;
  background-color: #0f0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ffe3d1;
}

a:visited {
  color: #ef9e84;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
