:root {
  font-family: "Playfair Display";
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  color-scheme: light dark;
  color: #ffe3d1;
  background-color: #0f0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  color: #ffe3d1;
}

a:visited {
  color: #ef9e84;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  margin: 0;
}

#header {
  border-bottom: 1px solid #ffe3d1;
  margin-bottom: 20px;
}

#index {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  white-space: nowrap;
}

.indexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.indexDate {
  flex-shrink: 0;
}

.dots {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}

.dots::after {
  content: "..................................................................................";
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.indexTitle {
  flex-shrink: 0;
}